.numberGuessingBox .row .left_handSide .box-1 {
    background-color: bisque;
    height: 200px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.numberGuessingBox .row .left_handSide .box-2 {
    background-color: bisque;
    height: 200px;
    border-radius: 15px;
}

.numberGuessingBox .row .right_handSide {
    background-color: coral;
    border-radius: 15px;
    width: auto;
}

.numberGuessingBox .row .right_handSide .customForm {
    width: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.numberGuessingBox .row .right_handSide .result {
    width: 50%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    text-align: center;
}

.numberGuessingBox .row .right_handSide .customForm .submitBtn {
    display: flex;
    justify-content: space-around;
}

#inputDiv {
    display: none;
}

#startGameBtn {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}